*{
    text-decoration: none;
    margin: 0px;
    padding: 0px;
}

body {
font-family: 'Open Sans', sans-serif;
}

body, html {
    margin: 0;
    padding: 0;
}


.wrapper {
    width: 100%;
    max-width: none;
}

.logo a {
    font-size: 50px;
    font-weight: 800;
    float: left;
    font-family: courier;
    color: #443627;
}

.menu {
    float: right;
}

nav {
    height: 60px;
    line-height: 60px;
    width: 100%;
    margin: auto;
    display: flex;
    line-height: 59px;
    position: fixed;
    position: -webkit-sticky;
    top: 0;
    background: #B9B28A;
    z-index: 1;
    border-bottom: 1px solid black;
}

nav ul {
    flex-grow: 1;
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: flex-end; 

}

nav ul li {
    display: inline-block;
    width: auto;

}

nav ul li a {
    color: black;
    font-weight: bold;
    text-align: center;
    padding: 0px 16px 0px 16px;
    text-decoration: none;
}

nav ul li a:hover {
    text-decoration: underline;
}

#home {
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 40px; 
    background-image: url('gambar/mgskopi1.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 100vh; 
    width: 100%; 
    }

#home .kolom {
    padding-right: 60px;
    margin-left: auto;
    text-shadow: 2px 2px 5px rgb(65, 35, 10);
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: #ffffff;
    font-size: 25px;
    line-height: 1.6;
     max-width: 600px;
    text-align: right; 
    align-items: flex-end;
    flex-direction: column;
    display: flex;  
    justify-content: right;

}


#kopi .kolom{
    width: 100vw;
    font-family: 'Times New Roman', Times, serif;
    color: #000000;
    font-size: 24px;
    line-height: 1.6;
     max-width: 900px;
    text-align: justify; 
    display: flex;  
    flex-wrap: wrap;
    justify-content: space-between


}

#about {
    width: 100%;
    font-family: '@DFPOP1-W9';
    font-size: 25px;
    font-display: auto;
    color: #ffffff;
    background-image: url(gambar/aboutusmgs.jpg);
    background-position: center;
    background-repeat: no-repeat;
    min-height: 100vh; 
}

.aboutpict-container {
    display: flex;
    justify-content: center; 
    gap: 20px; 
    margin-top: 30px; 

    
}

.aboutpict-container img {
        margin-top: 80px;
    width: 200px; 
    height: 200px;
    object-fit: cover; 
    border-radius: 15px; 
}


#about .kolom {
    padding-left: 60px;
       text-shadow: 2px 2px 5px rgb(0, 0, 0);
   font-size: 18px;
    font-weight: bold;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: #ffffff;
    text-align: left; 
    display: flex;
    flex-direction: column;
    align-items: flex-start; 

}

#kopi {
    color: #ffffff;
    font-family: Comic sans ms;
    background-size: cover;
    background-position: right;
    background-repeat: no-repeat;
    height: 100vh; 
    width: 100%; 
    background-image: url(gambar/mgskopiduwa.jpg);
    width: 100%;
    min-height: 100vh;
}


#kopi .kolom {
    padding-left: 60px;
       text-shadow: 2px 2px 5px rgb(0, 0, 0);
   font-size: 18px;
    font-weight: bold;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: #ffffff;
    text-align: left; 
    display: flex;
    flex-direction: column;
    align-items: flex-start; 

}

/*h2 {
    font-family: comic sans ms;
    font-weight: 800;
    font-size: 45px;
    margin-bottom: 20px;
    color:#a55631;
    width: 100%;
    line-height: 50px;  
}
*/

a.tbl-biru {
    background: #af54b7;
    border-radius: 800;
    margin-bottom: 20px;
    padding: 15px 20px 15px 20px;
    color: #f5f5f5;
    cursor: pointer;
    font-weight: bold;
}

a.tbl-biru hover {
    background: #7d1c4a;
    text-decoration: none;
}

a.tbl-pink {
    background: #7d1c4a;
    border-radius: 20px;
    margin-top: 20px;
    padding: 15px 20px 15px 20px;
    color: #f5f5f5;
    cursor: pointer;
    font-weight: bold;    
}

a.tbl-pink:hover {
    background: #7d1c4a;
    text-decoration: none;
}

p {
    margin: 10px 0px 10px 0px;
    padding: 10px 0px 10px 0px;
}

.tengah {
    text-align: center;
    width: 100%;
}

.tutor-list {
    width: 100%;
    position: relative;
    display: flex;
    flex-wrap: wrap;
}

.kartu-tutor {
    width: 20%;
    margin: 0 auto;
}

.kartu-tutor img {
    width: 80%;
    border-radius: 50%;
}

.kartu-tutor p {
    font-family: 'comic sans ms';
    font-weight: 800;
    font-size: 25px;
    text-align: center;
    color: #131414;
}

/* Penyesuaian harga */
.kartu-tutor p.harga {
    font-size: 16px; 
    font-weight: normal;
    color: #555; 
    margin-top: 10px; 
    font-family: 'Open Sans', sans-serif; 
    letter-spacing: 0.5px; 
}

/* Hover untuk kartu tutor */
.kartu-tutor:hover {
    background-color: #f5f5f5; 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
    transition: all 0.3s ease; 
}

.kartu-tutor p {
    margin: 0;
    padding: 5px 0; 
}

/* Styling untuk menu */
.kartu-tutor {
    width: 20%;
    margin: 0 auto;
    text-align: center;
    position: relative;
    padding: 10px;
}

.kartu-tutor img {
    width: 100%;
    border-radius: 50%;
    margin-bottom: 15px;
}

.kartu-tutor p {
    font-family: 'comic sans ms';
    font-weight: 800;
    font-size: 18px;
    text-align: center;
    color: #131414;
}

/* Deskripsi menu yang disembunyikan */
.menu-desc {
    display: none;
    font-size: 14px;
    color: #444;
    margin-top: 10px;
    text-align: justify;
    padding: 0 15px;
    line-height: 1.5;
}

/* Checkbox dan label untuk interaksi */
.menu-toggle {
    display: none;  
}

.btn-more {
    background-color: #af54b7;
    color: white;
    padding: 8px 16px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 14px;
    margin-top: 10px;
    transition: background-color 0.3s;
    display: inline-block;
}

.btn-more:hover {
    background-color: #7d1c4a;
}

.btn-more {
    z-index: 1;
}

/* Menampilkan deskripsi ketika checkbox dicentang */
.menu-toggle:checked + .btn-more + .menu-desc {
    display: block;
}

/* Menu Styling in menu.html */
.menu-item {
    margin-bottom: 30px;
    text-align: center;
}

.menu-item img {
    width: 100%;
    max-width: 300px;
    margin-top: 15px;
    border-radius: 10px;
}

.menu-item h3 {
    font-size: 2rem;
    color: #71BBB2;
    font-weight: bold;
}

.menu-item p {
    font-size: 1.2rem;
    color: #444;
}

section#menu {
    margin: 50px 0;
    text-align: center;
}

.video-section {
  width: 100%;
  height: 100vh; 
  overflow: hidden;
  position: relative;
}

.video-section video {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
}

.video-title {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); 
    font-size: 65px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: white;
    text-shadow: 3px 3px 8px rgba(0, 0, 0, 0.7);
    font-weight: bold;
}

#kopi {
    display: flex;
    align-items: center;
    gap: 20px;
}

.kolom {
    flex: 1;
}

img {
    max-width: 300px;
    height: auto;
}

#partners .kolom {
    display: list-item;
}

.logo-container {
    display: flex;
    justify-content: flex-start; 
}

.logo-container img {
    width: 150px; 
    height: 150px;
    object-fit: cover;
    border-radius: 50%; 
    border: 5px solid #443627; 
}



#partners {
    width: 100%; 
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-image: url(gambar/partnermgs.jpg);
    font-size: 27px;
    color: #ffffff;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    padding: 20px;
    padding-left: 60px;
    box-sizing: border-box; 
}



.content {
    flex: 1;
    text-align: left;
}

.logo-container {
    display: flex;
    gap: 20px;
}

.logo-container img {
    width: 150px;
    height: 150px;
    object-fit: cover;
    border-radius: 50%;
}

#menu {
    font-size: 20px;
    font-family: comic sans ms;
    font-weight: bold; 

}


#location {
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url(gambar/mgslocation.jpg);
    color: #ffffff;
         text-shadow: 2px 2px 5px rgb(0, 0, 0);
    font-family: Tahoma;
    font-size: 25px;
    height: 100vh;
    padding: 40px;
}

.container {
    display: flex;
    align-items: center;
    max-width: 1200px;
    width: 100%;
    gap: 50px;
}

.location-container {
    flex: 1;
}

.location-container img {
    width: 50vw; 
    height: auto;
    border-radius: 15px;
}

.text-container {
    flex: 1;
    text-align: left;
}


#contact {
    font-family: Comic sans ms;
    font-size: 25px;
    background-image: url(gambar/mgscontactbright.jpg);
    color: rgb(255, 255, 255);
    text-shadow: -3px 2px 4px rgb(0, 0, 0);
    width: 100%; 
    min-height: 92vh; 

}

#contact .kolom {
    text-align: right; 
    padding-right: 30px;
}

.contact-container {
    display: flex;
    justify-content: center;  
    align-items: center;
    margin-top: 20px;  
    gap: 40px;  
}

.contact-container img {
    width: 80px;  
    height: 80px;
    border-radius: 50%;
}